<div class="flex justify-center mt-10">
  <div class="w-80 bg-white rounded-lg p-7">
    <h1 class="text-center text-3xl font-bold pb-4">Debt Manager</h1>
    <form>
      <input class="w-full rounded-md border p-2 mb-2" type="text" placeholder="Username">
      <input class="w-full rounded-md border p-2" type="password" placeholder="Password">
      <p class="mb-4 text-end"><a class="text-blue-500" href=''>Olvidé Password</a></p>
      <button class="w-full rounded-md p-2 bg-gray-800 text-white hover:bg-gray-700">Enviar</button>
      <p class="pt-2 text-center">Sin cuenta? <a class="text-blue-500" href=''>Registrate</a></p>
    </form>
  </div>
</div>